#contact {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(56, 56, 50);
  color: aliceblue;
}
#contact-title,
#contact-subtitle {
  text-align: center;
}
.Contactos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #ffcb45;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  color: black;
}
