#contact {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(56, 56, 50);
  color: aliceblue;
  flex-wrap: nowrap;
}
#contact-title,
#contact-subtitle {
  text-align: center;
}
.Contactos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #ffcb45;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  color: black;
}
.serv-pag-Neg {
  text-decoration: solid;
  -moz-text-size-adjust: 10%;
  color: brown;
  font-weight: 600;
}
.contact-horario,
.contact-redesociais {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #ffcb45;
  padding: 22px;
  border-radius: 14px;
  margin: 20px;
  color: black;
  width: 300px;
  height: 250px;
}

#teste {
  margin-bottom: 40px;
}
#teste2 {
  margin-top: 5px;
}
#divisao {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.form-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffcb45;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  color: black;
  width: 300px;
  height: 250px;
}
.form-all .btn-default {
  background-color: aliceblue;
}

.text_edite {
  color: black;
  font-size: 15px;
  font-weight: 300;
  border-radius: 8px;
}
.textarea_edite {
  color: black;
  font-size: 15px;
  font-weight: 300;
  border-radius: 8px;
}

#copyriht {
  color: blanchedalmond;
  text-align: left;
}
@media screen and (max-width: 870px) {
  .contact-redesociais {
    padding: 3%;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 50%;
  }
}
@media screen and (max-width: 867px) {
  .contact-form {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
