@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

#depoimento {
  display: flex;
  justify-content: center;
}
#dep-title,
#dep-subtitle {
  text-align: center;
}

.depoimento-card .card-item {
  background-color: white;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 750px;
  transition: all 0.3s ease;
  padding: 4px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}
.depoimento-card .card-item img {
  border-radius: 100%;
  width: 90px;
  height: 70px;
  margin-bottom: 5px;
}
.depoimento-card .p-dep {
  font-family: "Indie Flower", cursive;
  font-weight: 599;
  font-style: normal;
}
.estrela {
  display: flex;
  gap: 5px;
  margin: 15px 0;
  color: #ffcb45;
  border-top: 2px solid black;
}
.depoimento-card .card-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

#depoimento .conteiner {
  display: flex;
  justify-content: center;

  gap: 20px;
  flex-wrap: wrap;
  background-color: #ffcb45;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
}

@media screen and (max-width: 1170px) {
  .depoimento-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 10%;
    height: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 778px) {
  .depoimento-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .card-item {
    align-items: center;
    border-radius: 20px;
    max-width: calc(80% - 12px);
    height: 15%;
    padding: 5px;

    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 650px) {
  .depoimento-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .card-item {
    align-items: center;
    border-radius: 20px;
    max-width: calc(60% - 32px);
    height: 15%;
    padding: 5px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 577px) {
  #dep-subtitle {
    font-size: calc(1rem + 2vw);
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .depoimento-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .card-item {
    align-items: center;
    border-radius: 20px;
    max-width: calc(45% - 32px);
    height: 20%;
    padding: 5px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
}
