#depoimento {
  background-color: coral;
  display: flex;
  justify-content: center;
}
#dep-title,
#dep-subtitle {
  text-align: center;
}

.depoimento-card .card-item {
  background-color: aqua;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
}
