.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#hamb-1 {
  width: 290px;
  height: 290px;
}
#hamb-2 {
  width: 430px;
  height: 430px;
}
#hamb-3 {
  width: 350px;
  height: 330px;
}
