.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 30%;
  flex-wrap: wrap;
}

#hamb-1 {
  height: 26vb;
  width: 21vb;
}
#hamb-2 {
  height: 37vb;
  width: 35vb;
}
#hamb-3 {
  height: 30vb;
  width: 30vb;
}
.dish-heart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  flex-wrap: nowrap;
}
